
.vs/MVC-WCF-Sample/v15/Server/sqlite3/storage.ide-wal
.vs/MVC-WCF-Sample/v15/Server/sqlite3/storage.ide-shm
.vs/MVC-WCF-Sample/v15/Server/sqlite3/storage.ide
.vs/MVC-WCF-Sample/v15/Server/sqlite3/db.lock
.vs/MVC-WCF-Sample/v15/.suo
.gitattributes
