
.vs/MVC-WCF-Sample/v15/Server/sqlite3/storage.ide-wal
.vs/MVC-WCF-Sample/v15/Server/sqlite3/storage.ide-shm
.vs/MVC-WCF-Sample/v15/Server/sqlite3/storage.ide
.vs/MVC-WCF-Sample/v15/Server/sqlite3/db.lock
.vs/MVC-WCF-Sample/v15/.suo
.gitattributes
.vs/MVC-WCF-Sample/DesignTimeBuild/.dtbcache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.AssemblyInfo.cs
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.AssemblyInfoInputs.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.csproj.CoreCompileInputs.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.csprojAssemblyReference.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.RazorAssemblyInfo.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.RazorAssemblyInfo.cs
MW.MVC/obj/MW.MVC.csproj.nuget.cache
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.deps.json
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.dll
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.pdb
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.runtimeconfig.dev.json
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.runtimeconfig.json
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.Views.dll
MW.MVC/bin/Debug/netcoreapp2.2/MW.MVC.Views.pdb
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.csproj.CopyComplete
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.csproj.FileListAbsolute.txt
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.dll
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.pdb
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.RazorCoreGenerate.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.RazorTargetAssemblyInfo.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.RazorTargetAssemblyInfo.cs
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.TagHelpers.input.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.TagHelpers.output.cache
MW.MVC/obj/Debug/netcoreapp2.2/MW.MVC.Views.pdb
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
MW.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
MW.WFC-Service/bin/MW.WFC-Service.dll
MW.WFC-Service/bin/MW.WFC-Service.dll.config
MW.WFC-Service/bin/MW.WFC-Service.pdb
MW.WFC-Service/obj/Debug/MW.WFC-Service.csproj.FileListAbsolute.txt
MW.WFC-Service/obj/Debug/MW.WFC-Service.dll
MW.WFC-Service/obj/Debug/MW.WFC-Service.pdb
